# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\gitHub\codeGym-HN\DemoCSS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
